#main-container {
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2rem 0;
}

#search-field {
  width: 100%;
  max-width: 250px;
}

div.card {
  width: 200px;
  padding: 8px;
  margin: 8px;
}

div.card h2 {
  margin: 0.25rem 0;
}




/* Matchar ramverkets breakpoints */
@media only screen and (max-width: 1167px) {

  div.card {
    /* max-width: ; */
  }
  
}




@media only screen and (max-width: 664px) {

  div.card {
    width: 30%;
  }

}

@media only screen and (max-width: 500px) {

  div.card {
    width: 42%;
  }

}

@media only screen and (max-width: 350px) {

  div.card {
    width: 78%;
  }

}