#main-container {
  padding-bottom: 2rem;
  box-sizing: border-box !important;
}

.banner-image {
  width: 90%;
  max-width: 400px;
  padding: 0 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 2rem 0;
}

#search-field {
  width: 100%;
  max-width: 250px;
}

div.card {
  width: 18%;
  padding: 8px;
  margin: 8px;
}

div.card h2 {
  margin: 0.25rem 0;
}




/* Matchar ramverkets breakpoints */
@media only screen and (max-width: 1100px) {

  div.card {
    width: 22%;
  }
  
}

@media only screen and (max-width: 825px) {

  div.card {
    width: 29%;
  }

}

@media only screen and (max-width: 550px) {

  div.card {
    width: 42%;
  }

}

@media only screen and (max-width: 325px) {

  div.card {
    width: 78%;
  }

}